1. telebot: Эта библиотека предоставляет инструменты для создания ботов для платформы Telegram. Она позволяет вам управлять обработкой сообщений, ответами, клавиатурами и другими функциями Telegram Bot API.

2. types (из библиотеки telebot): В этом модуле содержатся структуры данных и типы, используемые для анализа и формирования объектов, которые затем отправляются через Telegram Bot API.

3. urllib.request: Этот модуль Python предоставляет множество функций для работы с URL-адресами и данными сети. Он позволяет открывать URL-адреса, извлекать данные с серверов и манипулировать URL-адресами.

4. json: Встроенная библиотека Python для работы с данными в формате JSON. Она предоставляет методы для кодирования и декодирования данных JSON, а также для работы с JSON-объектами и JSON-файлами.

5. urllib3: Это надежная сторонняя библиотека для работы с HTTP-запросами в Python. Она предоставляет расширенные функции по сравнению с встроенным модулем urllib, таким как поддержка HTTP/1.1, подключения пула и другие возможности.

6. pytest - это библиотека для написания тестов в Python. Она облегчает написание тестов и позволяет делать это более эффективно. pytest предоставляет широкий спектр функций для тестирования, таких как автоматическое обнаружение тестов, удобные утверждения, пропуск тестов, модульность и многое другое. Благодаря своей гибкости и простоте использования pytest стал одной из самых популярных библиотек для написания тестов в Python.